@model AlgorithmTester.Models.FormModel

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/js/index.js"></script>
}


<div class="text-center">
    <form method="post">
        <div>
            <h5>Enter your code in the box below</h5>
            <br />
            <div class="container-fluid" id="code-container">
                <textarea class="form-control" id="code-input" name="Code">@Model.Code</textarea>
                <div class="topright">
                    <image id="reset" src="images/reset.png" alt="Reset Button" />
                </div>
                @{
                    if (!(Model.UserMessage.Equals(String.Empty)))
                    {
                        <textarea class="form-control" id="user-message" name="UserMessage" readonly>@Model.UserMessage</textarea>
                    }
                }
            </div>
        </div>

        <div>
            <h5>Enter input and expected output</h5>
            <div id="data" class="row">

                <div class="input-group col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Input Arguments</span>
                    </div>
                    <input class="form-control" id="input-arguments" type="text" />
                </div>

                <div class="input-group col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Output Arguments</span>
                    </div>
                    <input class="form-control" id="output-arguments" type="text" />
                </div>

                <div class="input-group col">
                    <input class="btn btn-primary btn-sm btn-block" id="add-button" type="button" value="Add" />
                </div>

            </div>
        </div>

        <!-- Attach the number of rows from the model to a div to be accessed by javascript -->
        <div id="rowNum" data-name="@(Model.NumData + 1)"></div>
        <div>
            <table class="table table-striped" id="data-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Input Arguments</th>
                        <th scope="col">Output</th>
                        <th scope="col">Result</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < Model.InputData.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i+1)</th>
                                <td>@Model.InputData[i]<input type="hidden" name="InputData[]" value="@Model.InputData[i]" /></td>
                                <td>@Model.OutputData[i]<input type="hidden" name="OutputData[]" value="@Model.OutputData[i]" /></td>
                                <td>@Model.Results[i]</td>
                                <td>
                                    @{
                                        if (Model.InputData[i] != "")
                                        {
                                            <image class="delete-row" src="images/delete.png" alt="delete" />
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div>
            <input type="submit" value="Go" class="btn btn-success btn-lg btn-block" id="go" />
            <div class="form-group row" id="output">
                <label class="col-sm-2 col-form-label" for="accuracy">Accuracy</label>
                <input class="col-sm-4 form-control" type="text" id="accuracy" name="Accuracy" value="@Model.Accuracy" readonly />
                <label class="col-sm-2 col-form-label" for="speed">Speed</label>
                <input class="col-sm-4 form-control" type="text" id="speed" name="Speed" readonly />
            </div>
        </div>

        @{
            if (!(Model.Times is null))
            {
                <table class="table table-sm table-bordered" id="speed-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="@Model.TestArguments[0].ArgumentNames.Count">Testing Arguments</th>
                            <th scope="col" rowspan="2">Times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                for (int i = 0; i < Model.TestArguments[i].ArgumentNames.Count; i++)
                                {
                                    <th scope="col">@Model.TestArguments[0].ArgumentNames[i]</th>
                                }
                            }
                        </tr>
                        @{
                            for (int i = 0; i < Model.Times.Count; i++)
                            {
                                <tr>
                                    @{
                                        for (int j = 0; j < Model.TestArguments[i].ArgumentNames.Count; j++)
                                        {
                                            <td>@Model.TestArguments[i].InputData[j]</td>
                                        }
                                    }
                                    <td>@Model.Times[i]</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }

    </form>
</div>
